@import url('https://fonts.googleapis.com/css?family=Raleway:300,400|Work+Sans:300,400,900');
body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.main-header {
    height: 70vh;
    background: url(../images/fox-tail-header.png) top -200px center no-repeat, linear-gradient(to bottom, #003eaa 40%, #004ec2 60%, #0060df 80%, #0080ff 90%, #00c7ff 100%);
    color: #fff;
    overflow: hidden;
    position: relative;
}

.main-header:after {
    background: transparent url(../images/wave.svg) top center no-repeat;
    -webkit-background-size: 5223px 186px;
    background-size: 5223px 186px;
    bottom: 0;
    content: '';
    display: block;
    height: 168px;
    left: 0;
    position: absolute;
    width: 100%;
}

nav {
    display: flex;
    width: calc(100% - 30px);
    margin: 0 auto;
    justify-content: space-between;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    line-height: 45px;
    letter-spacing: 1px;
    margin: 0 20px;
}

nav a:hover {
    color: #019ffd;
}

.menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
}

.title-container h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 65px;
    margin: 0;
    text-align: center;
}